/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: url('../img/body-bg.png') repeat-x top;
	font-family: Helvetica, sans-serif;
}

#wrapper {
	  width: 960px;
	  margin-left: auto;
	  margin-right: auto;
}



#logo {
	width: 960px;
	height: 75px;
	margin: 0;
	margin-top: 10px;
}


#menu {
	height: 50px;
	color: #3f8252;
}

#menu li {
	list-style: none;
	display: inline;
}

#menu li a {
	text-decoration: none;
	color: white;
	margin-top: 150px;
    font-size: 16px;
}

p.first {
	font-size: 36px;
	font-weight: bold;
	color: #5d5d5d;
	text-align: center;
	margin: 0;
}

p.second {
	color: #8f8f8f;
	text-align: center;
	font-size: 16px;
	margin: 0;
}

p.third {
	color: #3f8252;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	letter-spacing: 5px;
}

#FacebookBar{
	margin-top: 20px;
	margin-bottom: 15px;
}

#description {
	display: inline-block;
}

#description li {
	font-size: 14px;
	
}


#description ul {
	float: right;
	margin-left: 125px;
	padding: 0px;
	display: inline-block;
	line-height: 22px;
	margin-top: 0px;
}

p.fourth {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 5px;
	margin-top: auto;
}

p.fifth {
	font-size: 14px;
	height: 120px;
	width: 440px;
	line-height: 22px;
	margin: 0px;
	margin-left: 6px;
	display: inline-block;
}

#table{
	margin: auto;
	margin-top: 20px;
}

th{
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 3px solid #ffffff;
	color: white;
	background-color: #7f8c8d;
}

td{
	border-color: #e9e9e9;
	border-right: .2rem solid #ffffff;
	background-color: #f7f7f7;
}

th.one{
	background-color: #2980b9;
}

th.two{
	background-color: #c0392b;
}

td {
	padding: 0.5rem;
	padding-left: 15px;
}

#heating {
	height: 400px;
	background-color: #eef1f5;
}

p.sixth {
	color: #c0392b;
	font-size: 30px;
	text-align: center;
	letter-spacing: 5px;
	padding-top: 30px;
	margin-bottom: 15px;
}

p.seventh {
	font-size: 14px;
	line-height: 22px;
	color: black;
	text-align: center;
}

#Heating1{
	margin: 20px;
	padding-left: 50px;
}

#Heating2{
	margin: 20px;
}

#Heating3{
	margin: 20px;
}

#cooling {
	height: 400px;
}

p.eigth {
	color: #2980b9;
	font-size: 30px;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom: 15px;
	padding-top: 30px;
	margin-top: 0px;
}

p.ninth {
	font-size: 14px;
	line-height: 22px;
	color: black;
	text-align: center;
}

#Cooling1{
	margin: 20px;
	padding-left: 50px;
}

#Cooling2{
	margin: 20px;
}

#Cooling3{
	margin: 20px;
}

#about{
	background-color: #eef1f5;
}

p.tenth {
	color: black;
	font-size: 30px;
	text-align: center;
	letter-spacing: 5px;
	padding-top: 30px;
	margin-top: 0px;
	margin-bottom: 15px;
}

p.eleventh {
	font-size: 14px;
	line-height: 22px;
	color: black;
	text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
